@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
	font-family: Roboto;
	
}

h1 {
text-align: center;

}

form{
	width:300px;
	padding:16px;
	border-radius:10px;
	margin:auto;
	background-color:#ccc;
}

form label{

	font-weight:bold;
	display:inline-block;
	
}

form input[type="text"]{
	margin-left: 5px;
} 

form input[type="submit"]{
	width:100%;
	padding:8px 16px;
	margin-top:25px;
	border:2px solid #000;
	border-radius:5px;
	display:block;
	color:#fff;
	background-color:#000;
} 

form input[type="submit"]:hover{
	cursor:pointer;
	background-color:#fff;
	color: #000;

}


.container {
	text-align: center;
}